CONFIG_ESP_MAIN_TASK_STACK_SIZE=4500
CONFIG_FREERTOS_IDLE_TASK_STACKSIZE=1700
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_FETCH_INSTRUCTIONS=y
CONFIG_SPIRAM_RODATA=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
CONFIG_ESP32S3_DATA_CACHE_LINE_64B=y
# CONFIG_LOG_COLORS is not set
CONFIG_LV_MEM_CUSTOM=y
CONFIG_LV_MEMCPY_MEMSET_STD=y
CONFIG_LV_USE_ASSERT_STYLE=y
# CONFIG_LV_USE_CALENDAR is not set
# CONFIG_LV_BUILD_EXAMPLES is not set
